# **week 0: exercises**

## **1. The MickeyMouse problem**

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [7]:
# I initialize
# - the entries for the looping range
start,stop,step=1,100,1
# - the number for which to divide
val1=3
val2=5
# - the text to display based on the division
text1='Mickey'
text2='Mouse'
# then I iterate
# since tuples are immutable, I need to first put the result in a list
output=[]
for i in range(start,stop,step):
# the selection is based on the reminder of the divisions:
    if (i%val1)==0:
        print(i,text1)
        output.append(i)
        if (i%val2==0):
            print(i,text1+text2)
    elif (i%val2==0):
        print(i,text2)
        output.append(i)
    else:
        print(i)
print(output)

1
2
3 Mickey
4
5 Mouse
6 Mickey
7
8
9 Mickey
10 Mouse
11
12 Mickey
13
14
15 Mickey
15 MickeyMouse
16
17
18 Mickey
19
20 Mouse
21 Mickey
22
23
24 Mickey
25 Mouse
26
27 Mickey
28
29
30 Mickey
30 MickeyMouse
31
32
33 Mickey
34
35 Mouse
36 Mickey
37
38
39 Mickey
40 Mouse
41
42 Mickey
43
44
45 Mickey
45 MickeyMouse
46
47
48 Mickey
49
50 Mouse
51 Mickey
52
53
54 Mickey
55 Mouse
56
57 Mickey
58
59
60 Mickey
60 MickeyMouse
61
62
63 Mickey
64
65 Mouse
66 Mickey
67
68
69 Mickey
70 Mouse
71
72 Mickey
73
74
75 Mickey
75 MickeyMouse
76
77
78 Mickey
79
80 Mouse
81 Mickey
82
83
84 Mickey
85 Mouse
86
87 Mickey
88
89
90 Mickey
90 MickeyMouse
91
92
93 Mickey
94
95 Mouse
96 Mickey
97
98
99 Mickey
[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

## **2\. The swap function**

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [11]:
# firstly, I initialize the inputs
input1,input2=100,0.3
print('initially: input1= ',input1,' while input2=',input2)
# I then define the function:
def invert_2_inputs(input1,input2):
# I can try to use lists to avoid temporary variables 
# since I don't know the type of variables in input, I make sure they're lists:
    input1=[input1]
    input2=[input2]
# then I add the other element to each list
    input1.insert(1,input2[0])
    input2.insert(1,input1[0])
# to later delete the original one
    input1.remove(input1[0])
    input2.remove(input2[0])
# and extract the element out of the list that were used:
    input1=input1[0]
    input2=input2[0]
    return input1,input2
input1,input2=invert_2_inputs(input1,input2)
# finally, let's check:
print('after the function: input1= ',input1,' while input2=',input2)

initially: input1=  100  while input2= 0.3
after the function: input1=  0.3  while input2= 100

## **3\. Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [13]:
# firstly, I initialize the points:
u=(3,0)
v=(0,4)
# I then define the function:
def euclidean_distance(u,v):
    return ((u[0]-v[0])**2+(u[1]-v[1])**2)**0.5
d=euclidean_distance(u,v)
print('the distance between points u ',u,' and v ',v,'is ',d)

the distance between points u  (3, 0)  and v (0, 4) is  5.0

## **4\. Counting letters**

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
# firstly, I initialize
# - the string where I want to count
string="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
# - the letter I want to count
letter='s'
print('the number of ',letter,' characters used in the input string is ',string.count(letter.lower()))

the number of  s  characters used in the input string is  9

## **5\. Isolating the unique**

Write a function that determines and count the unique numbers in the list *l*

In [21]:
# firstly, I initialize the list
l= [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
# to select its unique members, I use the properties of sets
print('the unique elements of the input list are ',len(list(set(l))),' and are',list(set(l)))

the unique elements of the input list are  54  and are [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

## **6\. Combination of functions**

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [23]:
x=3
def squared(x):
    return x**2
def cubed(x):
    return x**3
def to_sixth(x):
    return cubed(squared(x))
print(squared(x),cubed(x),to_sixth(x))

9 27 729

## **7\. Cubes**

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
# a)
# firstly, I initialize
# - the parameters for the iteration (through a for-loop)
start,stop,step=0,10,1
# - a list where I'm going to store the cubes
l=[]
for i in range(start,stop,step):
    l.append(i**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [37]:
# b)
# firstly, I initialize the parameters for the iteration (through a list comprehension)
start,stop,step=0,10,1
l=[i**3 for i in range(start,stop,step)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

## **8\. Nested list comprehension**

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [70]:
# firstly, I initialize
# - the ceiling for the elements of the Pythagorean triples
maxval=100
# - the parameters for the iteration
start,stop,step=1,100,1
# i finally iterate over the possible (integer) values of the elements a,b,c of the triples
for a in range(start,stop,step):
    for b in range(start,stop,step):
        for c in range(start,stop,step):
# the selection is based on:
# - on the definition of Pythagorean triple
# - on showing the elements of the triples in increasing order, to only show the unique ones (i.e. not to have repetition)
# - on respecting the input ceiling "maxval" for the elements a,b,c
#   (the use of max(...) is not necessary because of the forementioned increasing order a<b<c)
            if (a**2+b**2==c**2) & (a<b) & (b<c) &  (c<maxval):
                print((a,b,c))

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

## **9\. Normalization**

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [75]:
# firstly, I initialize the input
t=(3.,4.,5.) 
# then I define the function
def normalize_tuple(t):
# I start by calculating the norm of the input tuple
    n=(sum([i**2 for i in t]))**0.5
# for which I divide, element by element, the values in the tuple exploiting list comprehensions
    nt=[i/n for i in t]
# to ultimately turn the result into the original (tuple) format
    return tuple(nt)
print(normalize_tuple(t))

(0.4242640687119285, 0.565685424949238, 0.7071067811865475)